*{
  background-color:  #F5F5F5;
  font-family: 'poppins';
}

/* App */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header{
  width: 100%;
  background-color: white;
  
}

.header img{
  width: 10em;
  float: left;
  margin-top: 25px;
  margin-left: 26px;
  margin-bottom: 25px;
}

/* Search Input */

.input-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.search-icon{
  height: 18px;
  margin-top: 12px;
  margin-left: 8px;
}

.input-container{
  float: left;
  border: 1px solid rgb(161, 161, 161);
  margin-left: 20px;
  margin-top: 10px;
  height: 40px;
  width: 200px;
  border-radius: 5px;
}

.input-container input{
  border-style: none;
}

/* Profile Card */

.mappedData{
  padding-bottom: 100px;
}
.profile-card{
  display: flex;
  flex-direction: row;
  background-color: #FFFF;
  box-shadow: 0px 0px 15px -10px #4b4b4b;
  height: 100px;
  width: 645px;
  margin-top: 70px;
  margin-bottom: -50px;
  margin-left: 20px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out; 
}

.profile-card:hover{
  transform: scale(1.02,1.02);
  transition: all 0.5s ease-in; 
  cursor: pointer;
}

.profile-pic{
  background-color: #efefef;
  height: 64px;
  width: 64px;
  margin-top: 18px;
  margin-left: 20px;
  border-radius: 50px;
}

.profile-pic i{
  margin-top: 5px;
  color: rgb(133, 133, 133);
  font-size: 55px;
  overflow: hidden;
  border-radius: 50px;
}

.bio-container{
  display: flex;
  flex-direction: row;
  background-color: #FFFF;
}

.user-info{
display: flex;
flex-direction: column;
background-color: #FFFF;

}

.name{
  background-color: #efefef;
  height: 24px;
  width: 190px;
  margin-top: 18px;
  margin-left: 20px;
  border-radius: 5px;
  color: #1d1d1d;
  line-height: 25px;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
}

.job-title{
  background-color: #efefef;
  height: 24px;
  width: 190px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 5px;
  color: #1d1d1d;
  line-height: 25px;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
}

.profile-type{
  display: flex;
  flex-direction: column;
  background-color: #FFFF;
  margin-left: 164px;

  }

.level{
  background-color: #d33e4f;
  height: 24px;
  width: 24px;
  margin-top: 18px;
  margin-left: 115px;
  border-radius: 50px;
  color: #ffffff;
  line-height: 25px;
  font-size: 12px;
  font-weight: bold;

}

.mentor-type{
  font-weight: bold;
  color: #aba9a9;
  height: 24px;
  width: 24px;
  margin-top: 10px;
  margin-left: 115px;
  border-radius: 50px;
  text-align: center;
  line-height: 25px;
}

.mentor-type:active{
  color: #d20000;
}

/* Job Title and Level */

.jobtitle-container i{
  font-size: 20px;
  margin-top: 8px;
  position: relative;
  left: 100px;
  color: #4b4b4b;
}

.jobtitle-container{
  float: left;
  border: 1px solid rgb(161, 161, 161);
  margin-left: 20px;
  margin-top: 10px;
  height: 40px;
  width: 250px;
  border-radius: 5px;
}

.jobTitle-alt{
  position: relative;
  width: 86px;
  bottom: 23px;
  font-size: 14px;
  color: grey;
}

.level-container i{
  font-size: 20px;
  margin-top: 8px;
  position: relative;
  left: 55px;
  color: #4b4b4b;
}

.level-container{
  float: left;
  border: 1px solid rgb(161, 161, 161);
  margin-left: 20px;
  margin-top: 10px;
  height: 40px;
  width: 150px;
  border-radius: 5px;
}

.level-alt{
  position: relative;
  width: 55px;
  bottom: 23px;
  font-size: 14px;
  color: grey;
}

